{% extends '../base.html' %}

{% block title %}Profile List{% endblock title %}

{% block content %}
    {% if profiles %}
        <table>
        {% for profiles in profiles %}
            <tr><td>&nbsp;&nbsp;&nbsp;</td><td><a href="{% url 'profiles:profile_detail' profiles.profile.username %}">{{profiles.profile.username}}</a></td>
                <td><a href="{% url 'profiles:profile_update' profile.profile %}" > Edit </a></td></tr>
        {% endfor %}
        </table>
    {% else %}
        <p>No profiles are available.</p>
    {% endif %}
{% endblock content %}